<!-- Форма добавления комментария -->
{% load user_filters %}

{% if user.is_authenticated %}
  <div class="card my-4">
    <form method="post" action="{% url 'add_comment' post.author.username post.id %}">
      {% csrf_token %}
      <h5 class="card-header">Добавить комментарий:</h5>
      <div class="card-body">
        <div class="form-group">
          {{ form.text|addclass:"form-control" }}
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
      </div>
    </form>
  </div>
{% endif %}

{% if not user.is_authenticated %}
  <div class="card my-4">
    <div class="card-body">
      Для добавления комментариев необходимо войти или зарегистрироваться
    </div>
  </div>
{% endif %}

<!-- Комментарии -->
{% if comments %}
<h3>Комментарии</h3>
{% endif %}
{% for item in comments %}
  <div class="card mb-3 mt-1 shadow-lg">
    <div class="media-body card-body">
      <h5 class="mt-0">
        <a
            href="{% url 'profile' item.author.username %}"
            name="comment_{{ item.id }}"
        >{{ item.author.username }}</a>
      </h5>
      <p>{{ item.text|linebreaksbr }}</p>
      <hr>

      <!-- Дата публикации  -->
      <small
          class="text-muted float-right">{{ item.created|date:"d M Y" }}</small>

    </div>
  </div>
{% endfor %}