<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link {% if request.path == '/' %}active{% endif %}"
       href="{% url 'index' %}">
      Все авторы
    </a>
  </li>
  {% if user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link {% if request.path == '/follow/' %}active{% endif %}"

         href="{% url 'follow_index' %}">
        Избранные авторы
      </a>
    </li>
  {% endif %}
  <li class="nav-item">
    <a class="nav-link {% if request.path == '/group/groups/' %}active{% endif %}"
       href="{% url 'groups_index' %}">
      Сообщества
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if request.path == '/search/' %}active{% endif %}"
       href="{% url 'search_user' %}">
      Поиск
    </a>
  </li>
</ul>

